.dashboard {
  --primary-color: hsl(216, 54%, 61%);
  --secondary-color: hsl(174, 74%, 39%);
  --accent-color: hsl(25, 75%, 47%);

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: hsl(0, 0%, 40%);
  text-align: center;
  padding: 0 2em;
}

.createButton,
.searchInput {
  height: 36px;
  max-width: 250px;
  width: 100%;
  margin: 5px auto;
  padding: 5px;
}
.createButton {
  background: transparent;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}
.createButton:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.actionsDivider {
  display: block;
  margin: 5px;
}

@media screen and (min-width: 650px) {
  .actionsDivider {
    display: inline;
  }
}
