.dashboard {
  --primary-color: hsl(216, 54%, 61%);
  --secondary-color: hsl(174, 74%, 39%);
  --accent-color: hsl(25, 75%, 47%);

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: hsl(0, 0%, 40%);
  text-align: center;
  padding: 2em;
  overflow-y: auto;
}

.channelControls {
  padding: 1em 0;
}

.createLink,
.searchInput {
  height: 36px;
  max-width: 250px;
  width: 100%;
  margin: 5px auto;
  padding: 5px;
}
.createLink {
  display: inline-block;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}
.createLink:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
.actionsDivider {
  display: block;
  margin: 5px;
}

.searchResult {
  width: 100%;
}

.channel {
  display: flex;
  align-items: center;
  border-top: 1px solid #ddd;
  text-align: left;
}
.channel:first-of-type {
  border-top: none;
}
.channel:nth-of-type(2n) {
  background: #f8f8f8;
}

.channel > td {
  padding: 1em 0.5em;
}
.channel > td:first-of-type {
  padding-left: 1em;
}
.channel > td:last-of-type {
  padding-right: 1em;
}
.channel__name {
  flex-grow: 1;
  font-weight: 700;
}
.channel__desc {
  display: none;
}
.channel__count {
  text-align: right;
}

@media screen and (min-width: 650px) {
  .actionsDivider {
    display: inline;
  }

  .channel__name {
    flex-shrink: 0;
    flex-grow: 0;
    width: 33%;
  }
  .channel__desc {
    flex-grow: 1;
    display: table-cell;
  }
}
