.drawer {
  height: 100%;
  width: 250px;
  border-right: 2px solid hsl(0, 0%, 85%);
  font-size: 0.9em;
  padding: 0.5em;
}

.drawerActions {
  display: flex;
}

.filterInput {
  width: 100%;
  border: 2px dashed hsl(0, 0%, 85%);
  border-radius: 2px;
  margin-left: 0.5em;
  padding: 0 0.5em;
}

.optionsButton {
  background: transparent;
  border: 0;
  font-size: 1.5em;
  font-weight: 700;
  padding-left: 0.5em;
}

/* ==========channels============ */

.channels {
  padding: 0.5em;
}

.channels ul {
  list-style: none;
  padding-left: 0;
}
.channels li {
  padding: 0.25em;
}
.channels li:active,
.channels li:hover {
  background: hsl(0, 0%, 95%);
}

.channels p {
  color: hsl(0, 0%, 40%);
}

.channels a:hover,
.channels a {
  color: inherit;
  text-decoration: none;
}

.channelName {
  font-size: 1em;
  margin: 0;
}
.channelDescription {
  font-size: 0.85em;
  margin: 0;
}

@media screen and (max-width: 949px) {
  .drawer {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
    background: white;
    border-right: 0;
    transform: translateX(-250px);
    transition: transform 400ms ease, box-shadow 400ms ease;
  }
  .drawer.open {
    transform: translateX(0);
    box-shadow: hsl(0, 0%, 40%) 0px 3px 10px;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1000;
    height: 100%;
    width: 100%;
  }
  .backdrop.open {
    left: 0%;
    background: hsl(0, 0%, 40%);
    opacity: 0.5;
    transition: background 400ms ease;
  }
}
